h1 { text-align: center; }

#move-table {
    max-height: 300px;
    overflow-y: auto;
    width: 625px;
}

#move-table table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 600px;
}

#move-table tr { cursor: pointer; }
#move-table tr.zebra { background-color: #e5e8ff; }
#move-table tr#cur-move th { border-right: none;}
#move-table tr#cur-move td { border-left: none; border-right: none; }
#move-table tr#cur-move td:last-child { border-right: 1px solid #bbb; }

#move-table tr#cur-move {
    background: #A8D800;
    cursor: default;
    border-left: none;
    border-right: none;
}

#move-table td, #move-table th {
    border: 1px solid #ddd;
    padding: 5px 5px;
    font-size: 12px;
    text-align: center;
}

#move-table td { font-family: monospace; }
#move-table tbody th { text-align: right; width: 1em; }

#move-table thead th {
    background-color: #eeeeee;
    padding-left: 2px;
    padding-right: 2px;
}

button#prev, button#next, button#play-pause {
	line-height: 2em;
	padding: 0 1em;
	margin: 0 0.25em;
}

